html, body {
	margin: 0px;
    padding: 0px;
}

fieldset {
	padding: 5px;
}

.tipMessage {
	background: #FBE3E4;
	color: #8A1F11;
	border-color: #FBC2C4;
}

.resoutJson {
	display: none;
}

.baseDataDiv {
	display: none;
}

.processRootDiv {
	margin: 0px auto;
	padding: 0px;
	width: 100%;
}

.processOperDiv {
	margin-bottom: 5px;
	margin-top: 5px;
	background-color: #EBF5FF;
	border: 1px solid #CAD6E2;
    height: 18px;
    padding: 6px;
    /*position: absolute;*/
    /*left: 0px;*/
    /*top: 0px;*/
    /*width:100%;*/
}

.processOperDiv a{
    margin-right: 20px;
}

.processOperDivHolder{
    margin-bottom: 5px;
   	margin-top: 5px;
   	background-color: #EBF5FF;
   	border: 1px solid #CAD6E2;
}

.processFormDiv {
	/*height: 400px;*/
	border: 1px solid #CAD6E2;
}

ul.blueOperButton {
	height: 20px;
}

ul.blueOperButton li {
	float: left;
	margin: 3px;
}

ul.blueOperButton li a {
	float: left;
	text-decoration: none;
	color: #ccc;
	padding: 4px 15px 0 0;
	margin-right: 8px;
	font: 900 14px "Arial", Helvetica, sans-serif;
}

ul.blueOperButton li a span {
	float: left;
	padding-right: 15px;
	margin-top: -4px;
	height: 24px;
}

ul.blueOperButton li a.current {
	background: url(../img/blue.png) no-repeat top right;
	color: #0d5f83;
}

ul.blueOperButton li a.current span {
	background: url(../img/blue.png) no-repeat top left;
}