<script src="ESale/Business/VirtualService/Phone/SimCard/scripts/payTheBill.js"></script>

<div class="layout_centent">
	<div class="com_steptitle">
		<p style="font-size: 18px;padding-left: 5px;">帐户余额：<span style="color: #e73434;" ng-bind="form.balance"></span><span style="color: #e73434;">元</span></p>
	</div>
	<!--步骤标题Begin-->
	<div class="com_steptitle">
		<p class="one">第一步：请输入要充值的电话号码</p>
	</div>
	<!--步骤标题End-->

	<!--特殊表单排版Begin-->
	<div class="formlist bigformlist">
		<div class="form_left">
			<p class="form_title">用户号码&nbsp;&nbsp;&nbsp;|</p>
		</div>
		<div class="form_right">
			<input style="border:none;" onkeyup="this.value=this.value.replace(/\D/g,'')" type="tel" class="input_normal" ng-model="form.phoneNo" maxlength="11" />
		</div>
	</div>
	<!--特殊排版End-->

	<!--地区标志Begin-->
	<div class="com_selectmoney">
		<p class="address">号码归属地：<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span><span ng-bind="form.area"></span><span style="margin-left:40px">运营商：</span><span ng-bind="form.company"></span></p>
	</div>
	<!--地区标志End-->

	<!--步骤标题Begin-->
	<div class="com_steptitle">
		<p class="two">第二步：选择充值的金额</p>
	</div>
	<!--步骤标题End-->

	<!--金额选择Begin-->
	<div class="container-fluid com_selectmoney" id="moneyDiv">
		<div class="row">
			<div class="col-md-4 col-xs-4 list" ng-repeat="row in arrays.payMoneyRows">
				<a class="selectbtn" href="javascript://" ng-click="event.selectPayMoney($event,row.code)" ng-bind="row.name"></a>
			</div>
		</div>
	</div>
	<!--金额选择End-->

	<!--信息Begin-->
	<div class="com_selectmoney">
		<div class="message">
			需支付金额：<span class="money"><span ng-bind="form.finalMoney"></span>元</span>
			<!--<span class="tips">（已享受9.5折优惠）</span>-->
		</div>
	</div>
	<!--信息End-->

	<!--表单排版Begin-->
	<div class="formlist">
		<!--可点击状态是theme_btn-->
		<a id="submit" class="com_btn unuse_btn" href="javascript://" ng-click="request.submit()">
                充值
            </a>
		<!--常用btn-->
	</div>
	<!--表单排版End-->

	<div id="shadeDiv2" class="com_shade" style="display: none;position: fixed;"></div>
	<div id="confirmDialog" class="com_alert" style="position: fixed;top:120px;display: none;">
		<div>
			<h2 id="alertTitle" class="title">提示</h2>
			<a class="closed" ng-click="event.confirm_false();" href="javascript://"></a>
		</div>
		<div class="content">
			<span class="message">充值号码：<span ng-bind="form.phoneNo"></span></span>
		</div>
		<div class="content">
			<span class="message">充值金额：<span ng-bind="form.finalMoney"></span></span>
		</div>
		<div class="bottom_btnbox">
			<div class="left">
				<a class="normal_btn" href="javascript://" ng-click="event.confirm_yes()">确定</a>
			</div>
			<div class="right">
				<a class="normal_btn" href="javascript://" ng-click="event.confirm_false()">取消</a>
			</div>
		</div>
	</div>
</div>