<script src="ESale/Business/VirtualService/Phone/SimCard/scripts/buyNumCard.js"></script>
<!--主体部分-->
<form action="" method="post" onSubmit="return false;">
	<div class="appForum">
		<div class="inputInline inputLg">
			<label>选择基站：</label>
			<input type="text" class="form-control iptHasBtn"  value="{{mylist.property_code}}"/>
			<a href="javascript://" class="btnChse" onclick="javascript:history.back()">选择</a>
		</div>
		<div class="inputInline inputLg">
			<label>基站名称：</label>
			<input type="text" class="form-control"  value="{{mylist.property_name}}"/>
		</div>
		<div class="inputInline inputLg">
			<label>基站类型：</label>
			<input type="text" class="form-control"  value="{{mylist.property_type_name}}"/>
		</div>
	</div>
	<div class="appForum">
		<div class="meterInfo">
			<div class="baseItem">
				<span>电费合同：</span>
				<p>{{mylist.electricity_name}}</p>
			</div>
			<div class="baseItem">
				<span>电　　表：</span>
				<p>{{mylist.device_name}}</p>
			</div>
		</div>
<!--		<div class="whiteBtns">
			<a href="javascript://" class="wBtn btnNone">本次没抄表</a>
			<a href="javascript://" class="wBtn btnTurn">翻转电表</a>
		</div>-->
		<div class="addMark">
			<div class="inputInline inputMd">
				<label>上次抄表日期：</label>
				<input type="text" class="form-control iptHasBtn" readonly="readonly" value="{{mylist.pre_date_reading}}"/>
				<a href="javascript://" class="btnDate"></a>
			</div>
			<div class="inputInline inputMd">
				<label>上次抄表读数：</label>
				<input type="text" class="form-control" readonly="readonly" value="{{mylist.pre_data_reading}}"/>
			</div>
			<div class="inputInline inputMd">
				<label class="vi">本次抄表日期：</label>
				<input id="currenttime" type="text" class="form-control iptHasBtn"  value="{{mylist.date_reading}}"/>
				<a href="javascript://" class="btnDate" ng-click="getcurrenttime()"></a>
			</div>
			<div class="inputInline inputMd">
				<label class="vi">本次抄表读数：</label>
				<input id="currentnum" type="text" class="form-control" value="{{mylist.data_reading}}"/>
			</div>
			<div class="inputInline inputSm">
				<label>当前抄表翻转轮数:</label>
				<input type="text" class="form-control" value="{{mylist.round_number}}"/>
			</div>
			<div class="inputInline inputSm">
				<label>上次抄表翻转轮数:</label>
				<input type="text" class="form-control" readonly="readonly" value="{{mylist.pre_round_number}}"/>
			</div>
		</div>
<!--		<div class="blkBorBtns">
			<div class="blkDiv">
				<a href="javascript://" class="blkFileBtn">上传附件</a>
				<input type="" class="blkFile" ng-click="g_getlocalphoto()" />
			</div>
			<div class="blkDiv">
				<a href="javascript://" class="blkPicBtn" ng-click="g_elephoto('ele')">电表拍照</a>
			</div>
			<div class="blkDiv">
				<a href="javascript://" class="blkPicBtn" ng-click="g_cellphoto('cell')">基站拍照</a>
			</div>
		</div>-->
	</div>
	<div class="container-fluid goods_show_list">
		<div class="row">
			<div class="col-xs-4 col-md-4 goods_box">
				<div class="goods_img">
					<span class="imgprice"  ng-click="g_getlocalphoto()">上传附件</span>
					<img src="/hnprop/framework.do?ds=DS_FRAMEWORK_SERVICE_DOWNLOAD&isImg=1&id={{mylist.reading_img}}" alt="" id="localimg">
				</div>
			</div>
			<div class="col-xs-4 col-md-4 goods_box">
				<div class="goods_img">
					<span class="imgprice"  note="AMMETER" ng-click="g_elephoto($event)">电表拍照</span>
					<img src="/hnprop/framework.do?ds=DS_FRAMEWORK_SERVICE_DOWNLOAD&isImg=1&id={{mylist.ammeter_img}}" alt="" id="AMMETER">
				</div>
			</div>
			<div class="col-xs-4 col-md-4 goods_box">
				<div class="goods_img">
					<span class="imgprice"  note="PROPERTY" ng-click="g_cellphoto($event)">基站拍照</span>
					<img src="/hnprop/framework.do?ds=DS_FRAMEWORK_SERVICE_DOWNLOAD&isImg=1&id={{mylist.property_img}}" alt="" id="PROPERTY">
				</div>
			</div>
		</div>
	</div>
	<div class="submitBtns">
		<button type="" class="btn btn-block btnSubmit" ng-click="g_save()">保存</button>
	</div>
</form>
<!--主体部分end-->
<input type="file" accept="image/jpeg,image/png"
	   style="display: block; opacity:0;" data-param="ele1" id="ele1"
	   onchange="uploadImg('ele');" single>

<input type="file" accept="image/jpeg,image/png"
	   style="display: block; opacity:0;" data-param="cell" id="cell"
	   onchange="uploadImg('cell');" single>

<img src="" id="getImage" style="display: none;width: 120px;height: 120px;"/>
<img src="" id="getImageLocal" style="display: none;width: 120px;height: 120px;"/>
<img src="" id="getImageUpload" style="display: none;width: 120px;height: 120px;"/>
<script src="Business/CompirControl/scripts/Messageforedit.js"></script>

