@charset "utf-8";
/*公共样式，如有重复请删除=========BEGIN*/
*{ padding:0px; margin:0px;}
/*公共样式，如有重复请删除=========END*/
body{ background:#fcfcfc;}
.sr_fofWrong{ width:960px; overflow:hidden; margin:0px auto; background:url(../images/404.png) no-repeat 20px 30px #fcfcfc; }
.sr_insideWrong{ width:960px; overflow:hidden; margin:0px auto; background: url(../images/500.png) no-repeat 20px 30px #fcfcfc; }
.sr_noPower{ width:960px; overflow:hidden; margin:0px auto; background: url(../images/403.png) no-repeat 20px 30px #fcfcfc; }
.wrongList{ width:400px;  overflow:hidden; margin:150px auto 0px auto; height: 500px; }
.wrongList h1{ font-size: 24px; height:30px; line-height:30px; font-family:"微软雅黑"; font-weight:300; color:#f47e12;}
.wrongList .noticeMessage p{ display:block;  line-height:30px; width:400px; font-size:14px; color:#344348;border-bottom:1px solid #cccccc; }
.wrongList .noticeMessage h2{line-height:30px; width:400px; font-size:14px; color:#344348; font-weight:300;}
.wrongList a{  height:30px; line-height:30px; width:400px; font-size:14px; color:#344348; font-weight:300; display:block; text-decoration:none;}
.wrongList a:hover{  height:30px; line-height:30px; width:400px; font-size:14px; color:#f47e12; font-weight:300; display:block; text-decoration:none;}
.noticeMessage{ width: 400px; overflow: hidden;}
