<script type="text/javascript" src="ESale/Mall/UI/scripts/changePassword.js"></script>
	
<!--进度条End-->
<div class="layout_centent" style="padding-top: 1px;">

	<!--特殊表单排版Begin-->
	<!--<div class="formlist longformlist">
		<div class="form_left">
			<p class="form_title">发展人编码&nbsp;|</p>
		</div>
		<div class="form_right" style="margin-right: 100px;">
			<input style="border:none;" id="passwordCode" type="text" class="input_normal" />
		</div>
		<div class="form_last">
			<a class="com_btn normal_btn" href="javascript://" id="SmsCodeBtn" ng-click="reSendSms()">获取编码中(59)</a>
		</div>
	</div>-->
	<!--特殊排版End-->
	<form name="modifyPass" id="modifyPass" method="post">
	<!--特殊表单排版Begin-->
	<div class="formlist longformlist">
		<div class="form_left">
			<p class="form_title">旧密码&nbsp;|</p>
		</div>
		<div class="form_right">
			<input style="border:none;" id="oldPassword" name="oldPassword" ng-model="form.oldPassword" type="password" class="input_normal" />
		</div>
	</div>
	<!--特殊排版End-->

	<!--特殊表单排版Begin-->
	<div class="formlist longformlist">
		<div class="form_left">
			<p class="form_title">新密码&nbsp;|</p>
		</div>
		<div class="form_right">
			<input style="border:none;"  name="newPassword" ng-model="form.newPassword"  id="newPassword" type="password" class="input_normal" />
		</div>
	</div>
	<!--特殊排版End-->

	<!--特殊表单排版Begin-->
	<div class="formlist longformlist">
		<div class="form_left">
			<p class="form_title">新密码&nbsp;|</p>
		</div>
		<div class="form_right">
			<input style="border:none;" id="reNewPassword" ng-model="form.reNewPassword" type="password" class="input_normal" />
		</div>
		
	</div>
	<!--特殊排版End-->

	<!--表单排版Begin-->
	<div class="formlist">
		<!--可点击状态是theme_btn-->
		<a class="com_btn theme_btn" href="javascript://" ng-click="confirmChangePassword()">
                确定
            </a>
		<!--常用btn-->
	</div>
	<!--表单排版End-->
	</form>
</div>
<!--100%布局End-->