@charset "utf-8";

/*单纯的输入框Begin*/
.SR_pureInput{
	border:1px solid #ccc; 
	color:#444444;
	height:20px;
	}
/*单纯的输入框End*/

/*带有提示的输入框Begin*/
.SR_tipsInput{
	border:1px solid #ccc; 
	color:#444444;
	}
/*带有提示的输入框End*/

/*下拉菜单Begin*/
.SR_select{
	border:#900 1px solid;
	width:200px;
	background-color:#fff;
	}
/*下拉菜单End*/